name: Deploy from Tag

on:
  push:
    tags:
      - '*-prod'
      - '*-production'
      - '*-staging'

permissions:
  contents: write  # Required to update k8s manifests
  pull-requests: write
  id-token: write  # Required for OIDC

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Deploy to Kubernetes
        uses: winitapp/gitops/.github/actions/deploy-action@main
        with:
          repo_name: ${{ github.repository }}
          tag: ${{ github.ref_name }}
          gh_pat_token: ${{ secrets.GH_PAT_TOKEN }}

